<div class="banner_marvel">
    <img src="../../../../assets/img/fdad9804319ddac0dc1a67c2968a6fc6.webp" alt="">
    <div class="banner_marvel_over"></div>
    <div class="w-100 position-absolute banner_marvel_text  mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-justify font_anton text-white fz_36">
                        CREA COSAS INCREÍBLES <br> CON EL MUNDO,
                        <br>
                        CON LA MAYOR API DE CÓMIC
                    </p>
                    <p class="text-justify  text-white fz_20">
                        <strong>
                            La API de Marvel Comics permite a los desarrolladores de cualquier lugar acceder
                            información sobre la vasta biblioteca de cómics de Marvel, desde lo que se avecina hasta
                            hace 70 años.
                        </strong>
                    </p>
                    <button class="common_buttom">Empezamos</button>
                </div>
                <div class="col-md-6">
                    <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/O617ZHcazwA?rel=0&amp;autoplay=1" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

</div>